@use '@variables' as variables;
@use '@mixins' as mixins;

.lds-ring {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  // top: 300px;
  z-index: 1;
}
.lds-ring div {
  box-sizing: border-box;
  display: block;
  position: absolute;
  width: 44px;
  height: 44px;
  margin: 8px;
  border: 8px solid #fff;
  border-radius: 50%;
  animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  border-color: black transparent transparent transparent;
}

.lds-ring div:nth-child(1) {
  animation-delay: -0.45s;
}
.lds-ring div:nth-child(2) {
  animation-delay: -0.3s;
}
.lds-ring div:nth-child(3) {
  animation-delay: -0.15s;
}

.dottedIcon {
  animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
}

.icon {
  width: 40px;
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes slideLeft {
  0% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(-200%);
  }
  100% {
    transform: translateX(-5px);
  }
}

@keyframes slideRight {
  0% {
    transform: translateX(5px) scale(-1);
  }
  50% {
    transform: translateX(200%) scale(-1);
  }
  100% {
    transform: translateX(5px) scale(-1);
  }
}

@keyframes fade {
  0% {
    opacity: 0;
  }
  20% {
    opacity: 0;
  }

  50% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
.isFullPage {
  height: 100vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.text {
  @include mixins.fontPrimary;
  animation: fade 2s ease-in-out infinite;
  position: absolute;
  font-size: 20px;
}

.pulse {
  animation: pulse 1.3s infinite forwards ease-in-out;
  left: auto;
}

@keyframes pulse {
  0% {
    transform: scale(0.8);
  }
  50% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(0.8);
  }
}
