@use '@mixins' as mixins;
@use '@variables' as variables;

.footer {
  background-color: variables.$purple;
  color: variables.$navy;
  width: 100%;
  padding: 62px 0;
}

.footerGrid {
  align-items: start;
  display: grid;
  gap: 35px;
  grid-template-columns: minmax(100px, 1.4fr) repeat(4, 1fr);
}

.mark {
  // height: 48px;
  object-fit: contain;
  object-position: left top;
  width: 120px;
  margin-left: 25px;
}

.linkGroup {
  display: flex;
  flex-direction: column;
  gap: 5px;

  h3 {
    @include mixins.fontSecondaryBold;
    font-size: 16px;
    margin-bottom: 5px;
  }

  a {
    @include mixins.fontSecondary;
    color: variables.$navy;
    font-size: 15px;
    line-height: 1.35;

    &:hover {
      text-decoration: underline;
      text-underline-offset: 3px;
    }
  }
}

@media screen and (max-width: variables.$mobile) {
  .footer {
    padding: 45px 0 30px;
  }

  .footerGrid {
    gap: 28px 18px;
    grid-template-columns: repeat(2, 1fr);
  }

  .mark {
    grid-column: 1 / -1;
  }
}
