@use '@mixins' as mixins;
@use '@variables' as variables;

.footer {
  background-color: variables.$navy;
  width: 100%;
  padding: 45px 0 35px;
}

.topRow {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  gap: 40px;
}

.intro {
  display: flex;
  flex-direction: column;
  gap: 65px;
  max-width: 550px;
}

.tagline {
  @include mixins.italicSubheading;
  color: variables.$beige;
}

.contact {
  p {
    @include mixins.paragraph;
    color: variables.$beige;
    line-height: 25px;
  }
}

.seal {
  width: 93px;
  height: auto;
  flex-shrink: 0;
}

.divider {
  height: 1px;
  background-color: variables.$beige;
  margin: 40px 0 25px;
}

.bottomRow {
  display: flex;
  align-items: center;
  gap: 40px;
  p {
    margin: 0;
  }
}

.socialLink {
  @include mixins.fontPrimary;
  color: variables.$beige;
  font-size: 18px;
  letter-spacing: -0.36px;
  text-decoration: underline;
}

.bottomLink {
  @include mixins.fontPrimary;
  color: variables.$beige;
  font-size: 18px;
  letter-spacing: -0.36px;
  text-decoration: none;
}

@media screen and (max-width: variables.$mobile) {
  .topRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 30px;
  }
  .intro {
    gap: 30px;
  }
  .tagline {
    font-size: 24px;
  }
  .bottomRow {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
}
