@use '@mixins' as mixins;
@use '@variables' as variables;

.button {
  @include mixins.fontSecondaryMedium;
  align-items: center;
  background: #f4eedf;
  border: 1px solid variables.$navy;
  border-radius: 999px;
  padding: 16px 56px;
  text-transform: uppercase;
  cursor: pointer;
  display: flex;
  justify-content: center;
  color: variables.$navy;
  font-size: 10px;
  letter-spacing: 0;
  line-height: 1;
  min-height: 23px;
  transition:
    background-color 0.2s ease,
    color 0.2s ease;
  letter-spacing: 0.5px;

  &:hover {
    background: variables.$navy;
    color: #f4eedf;
  }

  .spinnerIcon {
    animation: rotate 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  }

  &.navy {
    background: variables.$navy;
    border-color: variables.$navy;
    color: #ede8d5;
    font-size: 15px;

    &:hover {
      background: variables.$navy;
      border-color: variables.$navy;
      color: #ede8d5;
    }
  }
}

@media screen and (max-width: variables.$mobile) {
  .button {
    @include mixins.fontSecondaryMedium;
    font-size: 10px;
    padding: 5px 20px;
  }

  .button.navy {
    padding: 10px 30px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
