@use '@mixins' as mixins;
@use '@variables' as variables;

.image {
  width: 715px;
}

.content {
  display: flex;
  flex-direction: column;
  flex-shrink: 0;
  width: 340px;
}

.title {
  @include mixins.heading;
}

.textContainer {
  margin: 15px 0 25px;
}

.text {
  color: variables.$black;
  @include mixins.paragraph;
  line-height: 1.5;
}

.eventsLink {
  @include mixins.fontPrimary;
  color: variables.$black;
  font-size: 38px;
  line-height: 46px;
  text-decoration: underline;
  text-underline-position: from-font;
}

@media screen and (max-width: variables.$tablet) {
  .content {
    width: 100%;
  }
}

@media screen and (max-width: variables.$mobile) {
  .title {
    font-size: 56px;
    line-height: 60px;
  }

  .eventsLink {
    font-size: 30px;
    line-height: 36px;
  }
}
