@use '@mixins' as mixins;
@use '@variables' as variables;

.text {
  @include mixins.fontPrimary;
  color: variables.$cream;
  font-size: 52px;
  letter-spacing: -0.52px;
  line-height: 55.5px;
  margin: 0;
  text-align: center;
}

@media screen and (max-width: variables.$tablet) {
  .text {
    font-size: 36px;
    line-height: 40px;
  }
}

@media screen and (max-width: variables.$mobile) {
  .text {
    font-size: 28px;
    line-height: 32px;
  }
}
