@use '@variables' as variables;
@use '@mixins' as mixins;

.container {
  position: relative;
}

.label {
  @include mixins.paragraph;
  display: block;
  margin-bottom: 12px;
}

.textarea {
  @include mixins.fontPrimary;
  display: block;
  width: 100%;
  min-height: 139px;
  border: 1px solid variables.$black;
  background: transparent;
  padding: 12px 14px;
  font-size: 16px;
  color: variables.$navy;
  resize: vertical;

  &::placeholder {
    color: variables.$navy;
    opacity: 0.5;
  }

  &:focus {
    outline: none;
  }
}
