@use '@variables' as variables;
@use '@mixins' as mixins;

.carousel {
  background: variables.$purple;
  height: 75vh;
}

.slideStage {
  height: 100%;
  position: relative;
}

@media screen and (max-width: variables.$tablet) {
  .carousel {
    margin: 0 -15px;
    padding: 18px 15px 0;
  }
}

@media screen and (max-width: variables.$mobile) {
  .carousel {
    min-height: 500px;
  }
}
