@use '@variables' as variables;

.section {
  display: flex;
  padding: 58px 0;
  width: 1280px;
  margin: 0 auto;
  gap: 70px;
}

.frame {
  border: 1px solid variables.$black;
  border-radius: 31px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image {
  height: auto;
  width: 100%;
}

@media screen and (max-width: variables.$tablet) {
  .section {
    align-items: stretch;
    flex-direction: column;
    gap: 40px;
    padding: 40px 20px;
  }
}
