@use '@mixins' as mixins;
@use '@variables' as variables;

.children {
  margin-top: 160px; // to show up below the navbar
  background-color: variables.$cream;
  border-radius: 33px;
  overflow: hidden;
}
