@use '@variables' as variables;

.frame {
  border: 1px solid variables.$black;
  border-radius: 31px;
  overflow: hidden;
  position: relative;
  width: 100%;
}

.image {
  height: auto;
  width: 100%;
}
