@font-face {
	font-family: 'Feature Deck';
	src: url('../asset/fonts/Feature-Deck/FeatureDeck-Regular-Web.woff2') format('woff2');
	font-style: normal;
	font-weight: 400;
	font-display: swap;
}

@font-face {
	font-family: 'Feature Deck';
	src: url('../asset/fonts/Feature-Deck/FeatureDeck-Light-Web.woff2') format('woff2');
	font-style: normal;
	font-weight: 300;
	font-display: swap;
}
