@font-face {
  font-family: 'HAL Timezone';
  src: url('../asset/fonts/Timezone/HALTimezoneUnlicensed-Book.ttf');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'HAL Timezone Italic';
  src: url('../asset/fonts/Timezone/HALTimezoneUnlicensed-BookItalic.ttf');
  font-weight: 400;
  font-style: italic;
}
