$borderRadius: 0px;

// Colors
$charcoal: #2f2f2f;
// $black: #191919;
$black: #0a142e;

$grey: #b4ada3;
$olive: #968b6a;
$darkOlive: #7c6943;
$navy: #152335;

// Loopline Specific
$purple: #d8bce8;
$pink: #efb6c5;
$cream: #ede8d5;
$yellow: #f1bf47;

// Screen Sizes
$desktop: 1200px;
$tablet: 1000px;
$mobile: 850px;
