@use '@mixins' as mixins;
@use '@variables' as variables;

.content {
  display: flex;
  flex: 0 1 586px;
  flex-direction: column;
  gap: 35px;
}

.title {
  @include mixins.heading;
  letter-spacing: -0.84px;
  line-height: 89px;
}

.text {
  display: flex;
  flex-direction: column;
  gap: 26px;

  p {
    @include mixins.paragraph;
  }
}

.image {
  flex: 0 1 615px;
}

@media screen and (max-width: variables.$tablet) {
  .content,
  .image {
    flex-basis: auto;
  }
}

@media screen and (max-width: variables.$mobile) {
  .content {
    gap: 20px;
  }

  .title {
    line-height: 36px;
  }
}
